.navigation{
    font-size: 1.7cap;
    justify-content: center;
    justify-items: center;
    padding-bottom: 0.5%;
    display: flex;
    gap: 1rem;
    text-decoration: none;
    padding-top: 1%;
}

.navigation a{
    text-decoration: none;
    color: rgb(93, 90, 90);
}

.home:hover{
    transform: translateY(-1px);
}

.spaces:hover{
    transform: translateY(-1px);
}

.calendar:hover{
    transform: translateY(-1px);
}

.login:hover{
    transform: translateY(-1px);
}

.logout:hover{
    transform: translateY(-1px);
}