.note-card {
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    break-inside: avoid; /* helps with experimental masonry grid */
    word-wrap: break-word;
  }

  .note-card h1{
    color: #000;
  }

  .note-card p{
    color: #000;
  }