
.input-wrapper{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 5px;
    height: 7.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.search-input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 4.5rem;
    width: 100%;
    margin-left: 5px;
    font-family: var(--font-family);
}

.search-input:focus{
    outline: none;
}

#search-icon{
    color: var(--color-primary);
    fill: var(--color-primary);
    background-color: transparent;
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}