.uploadnote{
    background-color: white;
    color: orange;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: none;
    font-size: 22px;
    font-weight: bold;
}

.uploadnote-wrapper{
    border: 1px solid #eee;
    border-radius: 5px;
    height: 7.5rem;
    padding: 0 5px;
    background-color: white;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;
}

.uploadnote:hover { transform: translateY(-1px); }
.uploadnote:active { transform: translateY(0); }