

.errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    gap: 1rem;
    background-color: #FDFBF8;
}
