
.errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    gap: 1rem;
}

.errorPage a{
    color: orange;
}