.mainBox{
    width: 600px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;              
    display: flex;
    justify-content: center;
    align-items: center;   
  }