
*{
    background-color: #FDFBF8;
}
.mainBox{
    width: 100%;
    height: 770px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.auth{
    padding-top: 5%;
}
.authBody{
    padding-top: 20px;
}

.username{
    border: solid black 1px;
    background-color: white;

}
.password{
    border: solid black 1px;
}

