.title{
    justify-content: left;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3rem;
    opacity: 0.6;
    padding-left: 2%;
    font-size: 4.5rem;
}
.spaces-container hr{
    opacity: 0.2;
    color: #e0e0e0;
    border-color: #e0e0e0;
}